<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  </head>

  <body>
    <!-- navbar  section -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">

        <ul class="nav justify-content-center navbar-center">

          <li class="nav-item"><a class="navbar-brand"> <Span style="color:darkgoldenrod">Hive </Span>welcomes you </a>
          </li>
          
        </ul>

        <div class="navbar-nav ml-auto">
          <a class="nav-link active" aria-current="page" href="/qna" style="color:green">Request for courses</a>
        </div>
       


      </div>
    </nav>

    <!-- navbar  section -->

    <!-- div to separate -->
    <div class="m-5" style="background-color: aliceblue">
      <h2 class="p-2 ms-5 mt-5">Websites Having Free courses</h2>

      <!-- content start -->
      <div class="card-group">
        <div class="card m-3" style="width: 18rem">
          <img src="fcs.png" class="card-img-top" alt="..." />

          <div class="card-body">
            <h5 class="card-title">Free Course Site</h5>
            <p class="card-text">
              Best Website to download free Udemy courses.
            </p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Active webpage</li>
            <li class="list-group-item">
              Nearly all courses of udemy available
            </li>
            <li class="list-group-item">
              App Dev Best Course -<a
                href="https://freecoursesite.com/learn-flutter-dart-to-build-ios-android-apps-13/">Flutter & Dart – The
                Complete Guide [2023 Edition]</a>
            </li>
          </ul>
          <div class="card-body">
            <a href="https://freecoursesite.com/" class="btn btn-primary">Lets Go </a>
          </div>
        </div>

        <div class="card m-3" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">LBISTE SOFT</h5>
            <p class="card-text">
              Some of udemy courses are available
            </p>

            <a href="https://en.lbsite.org/?s=machine+learning" class="btn btn-primary">click to go</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">COURSE DRIVE</h5>
            <p class="card-text">
              Some of udemy courses are available
            </p>

            <a href="https://coursedrive.org/complete-python-developer-in-2023-zero-to-mastery/"
              class="btn btn-primary">click to go</a>
          </div>

          <div class="card-body">
            <h5 class="card-title">Google drive links
            </h5>
            <p class="card-text">
              Some of udemy courses are available
            </p>

            <a href="https://googledrivelinks.com/download-complete-web-development-by-dr-angela-yu-free-download-google-drive-links/"
              class="btn btn-primary">click to go</a>
          </div>


        </div>

        <div class="card m-3" style="width: 18rem">
          <img src="github.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Github Student Developer Pack</h5>
            <p class="card-text">
              machine learning , web development, app development and much more
              ... paid courses freely available.
            </p>


            <ul class="list-group list-group-flush">
              <li class="list-group-item">Active webpage</li>
              <li class="list-group-item">
                Best Structured Roadmap Courses Available
              </li>
            </ul>
            <a href="https://education.github.com/pack" class="btn btn-primary">Activate Now</a>
          </div>
        </div>
        <!-- content end -->

        <!-- div to separate -->
      </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</html>